body {
    counter-reset: estrofa;
}

span::before {
    counter-increment: estrofa;
    content: "ESTROFA " counter(estrofa) ": ";
}

h1 {
    color: blue;
}

h2 {
    color: blue;
}

p {
    color: blue;
}

span {
    color: blue;
    background-color: yellow;
    font-weight: bold;
}